/from_github
old*/
/result
/experiment/*
!/experiment/*MGA
/experiment/scaffoldMGA
/data/*
!/data/basis
*.ubuntu
*.pt
*.pckl
test_scores.json
*.bin
__pycache__
analyze
/preprocess
/*.py
/*.sh
.vscode
/log